<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="alfatkg.listeners.AnnotationTransformer"/>
        <listener class-name="alfatkg.listeners.TestListeners"/>
    </listeners>
    <test name="official_alfaTKG">
        <classes>
            <class name="tests.TestCase1"/>
        </classes>
    </test>
</suite>